body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 50px;
  color: antiquewhite;

  margin-left: 150px;
}
.clock {
  display: block;
  margin: 0 30px;
}
a {
  font-weight: bold;
  font-size: 15px;
}
h1 {
  font-size: 40px;
  margin-top: -468px;
  margin-left: 435px;
}
h2 {
  font-size: 25px;
  padding: 20px 40px;
  margin-top: -10px;
  margin-bottom: -5px;
}
select {
  display: block;
  width: 420px;
  padding: 10px 20px;
  font-size: 20px;
  color: rgb(38, 4, 83);
  margin-left: 350px;
  border-radius: 20px;
  opacity: 0.8;
  text-align: start;
}
footer {
  text-align-last: center;
  font-size: 10px;
  color: rgb(38, 4, 83);
}
.during-day {
  font-size: 20px;
  vertical-align: middle;
  line-height: 40px;
}
.container {
  width: 800px;
  background-color: rgb(26, 4, 90);
  margin-left: 100px;
  border-radius: 10px;
}
.city {
  padding: 10px;
  margin-left: 310px;
  margin-top: 10px;
  margin-bottom: -15px;
  border-bottom: 1px dashed;
}
.city:last-child {
  border: none;
}
.date {
  opacity: 0.7;
  margin-left: 310px;
  margin-top: -50px;
}
.time {
  font-size: 20px;
  font-weight: bold;
  margin-left: 310px;
  margin-bottom: 15px;
}
.return {
  margin-left: 30px;
  margin-top: -30px;
  color: antiquewhite;
  background-color: black;
  padding: 20px 84px 0 84px;
  font-size: 30px;
}
