body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 50px;
  color: rgb(38, 4, 83);
}
.clock {
  display: block;
}
a {
  font-weight: bold;
  font-size: 15px;
}
h1 {
  font-size: 55px;
  margin-top: -509px;
  margin-left: 390px;
}
h2 {
  font-size: 30px;
  padding: 20px 40px;
  margin-top: -20px;
}
select {
  display: block;
  width: 420px;
  padding: 15px 00px;
  margin-left: 350px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 10px;

  font-size: 25px;
  opacity: 0.8;
  text-align: start;
}
footer {
  text-align: center;
  font-size: 10px;
  padding: 20px 40px;
}
.during-day {
  font-size: 20px;
  vertical-align: middle;
  line-height: 40px;
}
.container {
  width: 800px;
  margin: 0 auto;
  background-color: rgb(216, 218, 243);
  border-radius: 10px;
}
.city {
  padding: 10px;
  margin-left: 310px;
  margin-top: 10px;
  margin-bottom: -15px;
  border-bottom: 1px dashed rgb(38, 4, 83);
}
.city:last-child {
  border: none;
}
.date {
  opacity: 0.7;
  margin-left: 310px;
  margin-top: -80px;
}
.time {
  font-size: 25px;
  font-weight: bold;
  margin-left: 310px;
  margin-bottom: 15px;
}
.return {
  margin-left: 360px;
  margin-bottom: 25px;
}
